.center.jumbotron
  %h1 Chattee
  %h1 Developers' chatapp
  %h2 Engage in dev talks
  %h2
    We connect RoR developers using
    %a{:href => "https://www.github.com/avosa/chatapp"} Chattee
= render 'job_dashboard', jobs: @jobs
